NEXT_PUBLIC_API_URL=http://localhost:8000/api
NEXT_PUBLIC_GEOAPIFY_API_KEY=your_geoapify_api_key
NEXT_PUBLIC_WHATSAPP_NUMBER=256700000000
NEXT_PUBLIC_WHATSAPP_MESSAGE="Hello Nasse Cleaning Services, I would like to make an inquiry."
